/******************************************************************

Thanks to 92five of 92five.net for the css template
******************************************************************/
									
									
/******************************************************************
This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************************************************
TEXT SELECTION STYLES
******************************************************************/
/* Safari, Chrome, iPhones, iPads */
::selection {
 background:#E095B4;
 color:#fff;
}
::-moz-selection {
 background:#E095B4;
 color:#fff;
}
::-webkit-selection {
 background:#E095B4;
 color:#fff;
}
a {
	color: #E095B4;
	outline: none;
}
/******************************************************************
General CSS
******************************************************************/
									
#content {
	width: 720px;
	padding-top: 170px;
	margin-left: 240px;
	z-index: 1;
}
p {
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 8pt;
}
h1 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 22pt;
}
h2 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 18pt;
}
h3 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 16pt;
}
h4 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 14pt;
}
h5 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 12pt;
}
h6 {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 10pt;
}
/***************************************************
COLUMNS and FEATURES
***************************************************/

.one, .one-half, .two-third, .one-third, .one-fourth {
	float: left;
}
.one-half, .two-third, .one-third, .one-fourth {
	margin-right: 25px;
}
.one {
	width: 720px;
}
.one-half {
	width: 340px;
}
.two-third {
	width: 460px;
}
.one-third {
	width: 220px;
}
.one-fourth {
	width: 160px;
}
.one-half-last {
	width: 350px;
	float: right;
}
.two-third-last {
	width: 460px;
	float: right;
}
.one-third-last {
	width: 220px;
	float: right;
}
.one-fourth-last {
	width: 160px;
	float: right;
}
.clear {
	clear: both;
}
.dropcap {
	font-family: Verdana, Arial, sans-serif;
	font-size: 36px;
	color: #333;
	width:32px;
	height:30px;
	float:left;
	padding:5px 5px 5px 5px;
	text-align:center;
	margin:5px 5px 5px 5px;
}
blockquote {
	font-style:italic;
	font-size:20px;
	margin-right:20px;
	padding-left:20px;
	margin-left:20px;
	margin-top: 60px;
	margin-bottom: 60px;
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	color:#333;
	text-align: center;
	background-image: url(../images/blockquote.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.styled-list-check li {
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #666;
	text-decoration: none;
	font-size: 14px;
	background-image: url(../images/check.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 16px;
}
.styled-list-check {
	padding-bottom: 60px;
}
.styled-list-dot li {
	font-family: 'Droid Sans', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	text-decoration: none;
	font-size: 14px;
	color: #666;
	background-image: url(../images/dot.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 2px;
}
.styled-list-dot {
	padding-bottom: 60px;
}
.styled-list-star li {
	font-family: 'Droid Sans', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	text-decoration: none;
	font-size: 14px;
	color: #666;
	background-image: url(../images/star.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 2px;
}
.styled-list-star {
	padding-bottom: 60px;
}
.readmore {
	font-family: 'Droid Sans', Verdana, Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #E095B4;
	float: right;
	margin-right: 0px;
	margin-top: 0px;
}
a:hover {
	color: #E35A88;
}
.spacer {
	height: 1px;
	clear: both;
	border-bottom: 1px;
	border-style: solid;
	border-color: #d6d6d6;
	margin: 20px 5px 20px 5px;
}
.blank-spacer {
	width: 720px;
	height: 1px;
	clear: both;
	margin: 10px 5px 10px 5px;
	padding: 10px 5px 10px 5px;
}
.star-divider {
	background-image:url(../images/star_divider.png);
	text-align: center;
	
	clear: both;
	height: 16px;
	width: 430px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-repeat: no-repeat;
}
#error {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
}
#sucess {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
}
/******************************************************************
Header & Menu CSS
******************************************************************/

#header-wrapper {
	position: fixed;
	background-color: #FFF;
	width: 100%;
	height: 120px;
	top: 0px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	z-index: 5000;
}
#header {
	width: 960px;
}
#logo {
	float: left;
	width: 100px;
	padding: 20px 0 10px 40px;
}
#header-text {
	width: 480px;
	padding-top: 40px;
	margin-left: 240px;
	display: block;
	height: 20px;
}
#header-text h6 {
	font-size: 7pt;
	color: #d8d8d8;
}
#header-text a {
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	color: #d8d8d8;
	text-decoration: none;
	font-size: 7pt;
}
#social-box {
	width: 96px;
	height: 22px;
	position: fixed;
	bottom: 40px;
	left: 30px;
}
#social-box li {
	float: left;
	padding-left: 6px;
	display: inline;
}
#menu-wrapper {
	height: 100%;
	padding-top: 120px;
	float: left;
	width: 140px;
}
#main-menu {
	position: fixed;
	padding-top: 60px;
	padding-left: 40px;
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
}
#main-menu a {
	color: #707070;
	text-decoration: none;
	font-size: 14pt;
}
#main-menu a:hover {
	color: #121212;
}
#main-menu li {
	padding: 5px 0 5px 0;
}
#main-menu .selected {
	color: #121212;
}
#footer h6 {
	font-size: 10px;
	position: fixed;
	bottom: 10px;
	left: 20px;

}
.facebook a {
	background-image: url(../images/facebook.png);
	background-position: 0 0px;
	display: block;
	height: 22px;
	padding-left: 24px;
	background-repeat: no-repeat
}
.facebook a:hover {
	background-position: 0 -26px;
	color: #444444;
}
.twitter a {
	background-image: url(../images/twitter.png);
	background-position: 0 0px;
	display: block;
	height: 22px;
	padding-left: 24px;
	background-repeat: no-repeat
}
.twitter a:hover {
	background-position: 0 -26px;
	color: #444444;
}
.rss a {
	background-image: url(../images/rss.png);
	background-position: 0 0px;
	display: block;
	height: 22px;
	padding-left: 24px;
	background-repeat: no-repeat
}
.rss a:hover {
	background-position: 0 -26px;
	color: #444444;
}
#slide-panel {
	position: fixed;
	top: 120px;
	left: 240px;
	height: 420px;
	width: 720px;
	display: none;
	border-width: 1px;
	border-style: solid;
	border-color: #e2e2e2;
	background-color: #FFF;
	margin: auto;
	text-align: center;
	margin-bottom: 5px;
	z-index: 6000;
}
.slide {
	background-image: url(../images/slide_button.png);
	background-repeat: no-repeat;
	position: fixed;
	top: 33px;
	left: 800px;
	z-index: 5000;
}
.btn-slide {
	text-align: center;
	width: 120px;
	height: 60px;
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	margin-right: auto;
	margin-left: auto;
	line-height: 22px;
	z-index: 5000;
}
/******************************************************************
Some Nivo Customization CSS
For easy editing (the main Nivo CSS is in nivo-theme.css)
******************************************************************/

.theme-effe .nivo-caption {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
}
.theme-effe .nivo-caption h1 {
	padding: 50px 10px 5px 10px;
}
.theme-effe .nivo-caption p {
	padding: 5px 20px 20px 20px;
	text-align: justify;
}
.theme-effe .nivo-caption .readmore {
	position: absolute;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	color: #999;
	text-decoration: none;
	bottom: 20px;
	left: 160px;
}
/******************************************************************
IMG Hovers
******************************************************************/

.recent-summary img:hover {
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
}
.recent-gallery img:hover {
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
}
.about-item img:hover {
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
}
.blog-item img:hover {
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
}
.blog-item-single img:hover {
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
}
/******************************************************************
Home Page CSS
******************************************************************/


#follow h1 {
	text-align: center;
	font-size: 22px;
	padding-top: 100px;
	clear: both;
}
#follow h3 {
	text-align: center;
	padding: 16px;
}
#follow p {
	text-align: center;
}
#follow a {
text-decoration: none
}
#follow-twitter {
	text-align: center;
	width: 100px;
	height: 40px;
	display: block;
	padding-top: 20px;
	float: left;
	padding-left: 20px;
}
#follow-facebook {
	text-align: center;
	width: 100px;
	height: 40px;
	display: block;
	padding-top: 20px;
	float: left;
	padding-left: 60px;
}
#follow-diaspora{

text-align: center;
	width: 100px;
	height: 40px;
	display: block;
	padding-top: 20px;
	float: left;
	padding-left: 80px;
}
#follow-mail {
	text-align: center;
	width: 150px;
	height: 80px;
	display: block;
	padding-top: 20px;
	float: right;
	padding-right: 70px;
}

/******************************************************************
This is the CSS for the social links
******************************************************************/

#social {
	display: inline;
	float: right;
}
.dribbble a {
	background-image: url(../images/dribbble.png);
	background-position: 0 1px;
	padding-bottom: 1px;
	margin-bottom: 8px;
	text-decoration: none;
	font-size: 12px;
	display: block;
	height: 15px;
	color: #727272;
	padding-left: 20px;
	background-repeat: no-repeat
}
.dribbble a:hover {
	background-position: 0 -17px;
	color: #444444;
}
.forrst a {
	background-image: url(../images/forrst.png);
	background-position: 0 1px;
	padding-bottom: 1px;
	margin-bottom: 8px;
	text-decoration: none;
	font-size: 12px;
	display: block;
	height: 15px;
	color: #727272;
	padding-left: 20px;
	background-repeat: no-repeat
}
.forrst a:hover {
	background-position: 0 -17px;
	color: #444444;
}
.google a {
	background-image: url(../images/google.png);
	background-position: 0 1px;
	padding-bottom: 1px;
	margin-bottom: 8px;
	text-decoration: none;
	font-size: 12px;
	display: block;
	height: 15px;
	color: #727272;
	padding-left: 20px;
	background-repeat: no-repeat
}
.google a:hover {
	background-position: 0 -17px;
	color: #444444;
}
.twitter_small a {
	background-image: url(../images/twitter_small.png);
	background-position: 0 1px;
	padding-bottom: 1px;
	margin-bottom: 8px;
	text-decoration: none;
	font-size: 12px;
	display: block;
	height: 15px;
	color: #727272;
	padding-left: 20px;
	background-repeat: no-repeat
}
.twitter_small a:hover {
	background-position: 0 -17px;
	color: #444444;
}
.facebook_small a {
	background-image: url(../images/facebook_small.png);
	background-position: 0 1px;
	padding-bottom: 1px;
	margin-bottom: 8px;
	text-decoration: none;
	font-size: 12px;
	display: block;
	height: 15px;
	color: #727272;
	padding-left: 20px;
	background-repeat: no-repeat
}
.facebook_small a:hover {
	background-position: 0 -17px;
	color: #444444;
}
